<div class="materials">
  <ul>
    <li v-for="(m0, id0) in materials">
      <div
        v-if="!m0.parent"
        @click="select(id0)"
        class="material-list-group selectable focusable"
        :class="{selected: m0 === material}"
      >
        <span class="color-badge" :style="{ background: m0.color }"></span>
        {{ id0 }}
        <span class="d-none d-xxl-inline"> - {{ m0.description }}</span>
      </div>
      <ul>
        <li v-for="(m1, id1) in materials">
          <div
            v-if="m1.parent === id0"
            @click="select(id1)"
            class="material-list-item selectable focusable"
            :class="{selected: m1 === material}"
          >
            <span class="color-badge" :style="{ background: m1.color }"></span>
            {{ id1 }}
          </div>
        </li>
      </ul>
    </li>
  </ul>
</div>
