.material .color-badge {
  font-size: 150%;
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: text-bottom;
  border-radius: 0.1em;
}

.material label {
  font-size: 150%;
  margin-left: 0.5em;
}

.material .description {
  width: 100%;
  margin-left: 2.2em;
}
