.tool .icon {
  margin-right: 0.5em;
}

.tool .description {
  font-size: 80%;
  width: 100%;
  padding-left: 2em;
}

.tool .diameter {
  color: #f0a0a0;
  font-weight: 900;
  font-size: 110%;
}

.tool .diameter .icon {
  color: #c07070;
  margin: 0;
}
