<div class="tools">
  <div v-if="!type" v-for="group in groups">
    <div class="row">
      <ToolsGrid
        :cols="cols[view]"
        :group="group"
        :selected="selected"
        :filter="(v) => filter(v) && (v.type === group || group === 'other' && !groups.includes(v.type))"
        @select="(v) => $emit('select', v)"
      />
    </div>
  </div>
  <div v-else>
      <ToolsGrid
        :cols="cols[view]"
        :selected="selected"
        :filter="(v) => v.type === type && filter(v)"
        @select="(v) => $emit('select', v)"
      />
  </div>
</div>
