.header {
  background: #002a2a;
  border-bottom: 0.2em solid #004040;
  margin-bottom: 0.5em;
  font-size: 150%;
}
.navbar {
  padding: 0;
}
.nav-link,
.nav-link:focus {
  color: #00c0c0;
  border: 0;
  background: transparent;
}
.nav-link.active {
  color: #00f0f0;
  background: #004040;
}
.nav-link:hover {
  color: #007070;
}
