.materials ul {
  list-style-type: none;
  padding-left: 0;
}
.materials .color-badge {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  border-radius: 0.1em;
}
.material-list-group {
  font-size: 150%;
  padding-left: 0.5em;
}
.material-list-item {
  font-size: 120%;
  padding-left: 1em;
}
.material-list-item .color-badge {
  font-size: 50%;
}
