<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>DRO</title>
    <link rel="icon" type="image/png" href="favicon.svg?v=1" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/dro.css" />
  </head>
  <body>
    {% include 'header.html' %}
    <main class="container-fluid">
      <div v-if="page == 'dro'">{% include 'dro/main.html' %}</div>
      <div v-if="page == 'vision'">{% include 'vision/main.html' %}</div>
      <div v-if="page == 'config'">{% include 'config/main.html' %}</div>
    </main>
    <script src="js/vue.global.prod.min.js"></script>
    <script src="js/socket.io.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
