<div v-if="id" class="tool" @click="$emit('select', id)">
  <Icon id="fan" :color="iconColor()" />
  <label>{{ id }}</label>
  <div v-if="show === 'table'">
    <table
      class="table table-dark table-striped table-bordered table-sm text-end"
    >
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Type</td>
          <td>{{ type }}</td>
        </tr>
        <tr v-if="d">
          <td>Ø</td>
          <td>{{ d }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div v-else class="description">
    <span>{{ type }}</span>
    <span v-if="d"
      >,
      <span class="diameter">
        <span class="icon">Ø</span>
        <span>{{ d }}</span>
      </span>
    </span>
    <span v-if="model">, {{ model }}</span>
    <span v-if="use">, {{ use }}</span>
    <span v-if="manufacturer">, {{ manufacturer }}</span>
  </div>
</div>
<div v-else class="tool not-selected" @click="$emit('create')">
  <slot>
    <Icon id="plus" />
    <label>Create new tool</label>
  </slot>
</div>
