.axis {
  display: flex;
  background: #004040;
  font-size: 8.5vw;
  margin-bottom: 0.3rem;
  line-height: normal;
}

.axis label {
  font-size: 50%;
  color: #c0f0e0;
  background: #003030;
  border-right: 0.1em solid #005050;
  padding-left: 0.3em;
  padding-right: 0.3em;
  cursor: pointer;
}

.axis input {
  width: 100%;
  background: transparent;
  border: 0.01em solid transparent;
  flex: 1;
  color: #00e0d0;
  text-align: end;
}

.axis input:focus-visible {
  border: 0.01em solid #00c0b0;
  outline: 0;
}
