.axis {
  display: flex;
  background: #004040;
  font-size: 8.5vw;
  margin-bottom: 0.3rem;
  line-height: normal;
}

.axis label {
  font-size: 50%;
  color: #c0f0e0;
  background: #003030;
  border-right: 0.1em solid #005050;
  padding-left: 0.3em;
  padding-right: 0.3em;
  cursor: pointer;
}
