<div class="dro">
  <div
    class="row gx-2"
    :style="{ flexDirection: ui.view.reverse ? 'row-reverse' : 'row' }"
  >
    <div class="col">
      <div
        class="row gx-2 h-100"
        :style="{ flexDirection: ui.view.reverse ? 'row-reverse' : 'row' }"
      >
        <Sidebar class="col-3 focusable-group">
          <Project
            class="selectable focusable"
            :id="project_id"
            v-bind="project"
            @click="toggle('projects')"
          >
            <Icon id="tasks" />
            Select project
          </Project>
          <Machine
            v-if="project"
            class="selectable focusable"
            :id="machine_id"
            v-bind="machine"
            @click="toggle('machines')"
          >
            <Icon id="tools" />
            Select machine
          </Machine>
          <Material
            v-if="project"
            class="selectable focusable"
            :id="material_id"
            v-bind="material"
            @click="toggle('materials')"
          >
            <Icon id="splotch" />
            Select material
          </Material>
          <div
            v-if="project"
            class="selectable focusable"
            @click="toggle('tools')"
          >
            <Icon id="fan" />
            Select tool
          </div>
          <div class="spacer"></div>
          <Offset
            v-if="project"
            v-for="id in Object.keys(offset_ids)"
            :id="id"
            :selected="id === offset_id"
            v-bind="offsets?.[id]"
            class="selectable focusable"
            @click="selectOffset(id)"
          />
        </Sidebar>
        <div class="col">
          <div class="row" v-if="show === 'default'">
            <div class="col-6 focusable-group"></div>
          </div>
          <Projects
            v-if="show === 'projects'"
            @select="selectProject"
            class="focusable-group"
          />
          <Machines
            v-if="show === 'machines'"
            @select="selectMachine"
            class="focusable-group"
          />
          <Materials
            v-if="show === 'materials'"
            @select="selectMaterial"
            class="focusable-group"
          />
        </div>
      </div>
    </div>
    <div class="col axes">
      <Axis
        v-for="(data, id) in machines[machine_id]?.axes"
        :machine_id="machine_id"
        :id="id"
        :label="(data.label || id).toUpperCase()"
        :offset="offsets?.[offset_id]?.[id] || 0"
        :decimals="decimals"
        @offset="setOffset"
      />
    </div>
  </div>
</div>
