body {
  background: #002020;
  color: #00c0b0;
  font-family: monospace, 'Lucida Console', 'Courier New';
  overflow-y: overlay;
  overflow-x: hidden;
  font-size: 0.8vw;
}

#app {
  min-height: 100%;
}

input {
  width: 100%;
  background: transparent;
  border: 0px solid transparent;
  flex: 1;
  color: #00e0d0;
  text-align: end;
}

input:hover {
  background: rgba(0, 192, 192, 0.1);
}

input:focus-visible {
  outline: 1px dashed #00c0b0;
  outline: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

#header,
#footer {
  background: #002a2a;
  font-size: 150%;
}
#header {
  border-bottom: 2px solid #006060;
  margin-bottom: 0.3rem;
}
#footer {
  border-top: 2px solid #006060;
  margin-top: 0.3rem;
}

.selectable,
.clickable {
  background: #003030;
  cursor: pointer;
}

.selectable:hover,
.clickable:hover {
  background: rgba(0, 255, 255, 0.2);
}

.selected {
  background: rgba(0, 192, 192, 0.2);
}

body.focusing .focused {
  outline: 2px dashed rgba(255, 255, 255, 0.5);
}

.list > * {
  background: #004040;
  min-height: 3em;
  padding: 0.5em;
  padding-left: 1em;
  margin-bottom: 0.2rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.list .icon {
  margin-right: 0.5em;
}

.unset {
  opacity: 0.5;
}

.spacer-h {
  height: 0;
  min-height: 0;
  padding: 0;
  border-bottom: 2px solid #004040;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  background: transparent;
}

.spacer-v {
  width: 0;
  min-width: 0;
  padding: 0;
  border-right: 2px solid #004040;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  background: transparent;
}
