body {
  background: #002020;
  color: #00c0b0;
  font-family: monospace, 'Lucida Console', 'Courier New';
  overflow: overlay;
}

input {
  width: 100%;
  background: transparent;
  border: 0px solid transparent;
  flex: 1;
  color: #00e0d0;
  text-align: end;
}

input:focus-visible {
  outline: 1px dashed #00c0b0;
  outline: 0;
}

.header,
.footer {
  background: #002a2a;
  font-size: 150%;
}
.header {
  border-bottom: 2px solid #006060;
  margin-bottom: 0.3rem;
}
.footer {
  border-top: 2px solid #006060;
  margin-top: 0.3rem;
}

.selectable:hover,
.clickable:hover {
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.selected {
  background: rgba(255, 255, 255, 0.2);
}

body.focusing .focused {
  outline: 2px dashed rgba(255, 255, 255, 0.5);
}

.list > * {
  background: #004040;
  min-height: 3em;
  padding: 0.5em;
  padding-left: 1em;
  margin-bottom: 0.2rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.list .icon {
  margin-right: 0.5em;
}

.unset {
  opacity: 0.5;
}
